[Service]
ExecStart=/bin/sh -c '. ${HOME}/.config/sh/rc.d/00path && xbindkeys -p -n'
Restart=always
# otherwise any applications launched via a keybinding will be killed when
# the service is restarted
KillMode=process

[Install]
WantedBy=default.target
