[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder
[submodule "vim/bundle/git"]
	path = vim/pack/filetype/start/git
	url = git://github.com/tpope/vim-git
[submodule "vim/bundle/gundo"]
	path = vim/pack/plugins/start/gundo
	url = git://github.com/sjl/gundo.vim
[submodule "vim/bundle/l9"]
	path = vim/bundle/l9
	url = git://github.com/vim-scripts/L9
[submodule "vim/bundle/perl"]
	path = vim/pack/filetype/start/perl
	url = git://github.com/vim-perl/vim-perl
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab
[submodule "vim/bundle/textobj"]
	path = vim/pack/plugins/start/textobj
	url = git://github.com/doy/vim-textobj
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = git://github.com/tomtom/tlib_vim
[submodule "vim/bundle/addon-mw-utils"]
	path = vim/bundle/addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils
[submodule "vim/bundle/startify"]
	path = vim/pack/plugins/start/startify
	url = git://github.com/mhinz/vim-startify
[submodule "vim/bundle/airline"]
	path = vim/pack/plugins/start/airline
	url = git://github.com/bling/vim-airline
[submodule "vim/bundle/neocomplete"]
	path = vim/bundle/neocomplete
	url = git://github.com/Shougo/neocomplete.vim
[submodule "vim/bundle/neosnippet"]
	path = vim/pack/plugins/start/neosnippet
	url = git://github.com/Shougo/neosnippet.vim
[submodule "zsh/opp"]
	path = zsh/opp
	url = git://github.com/hchbaw/opp.zsh
[submodule "vim/bundle/typescript"]
	path = vim/bundle/typescript
	url = git://github.com/leafgarland/typescript-vim
[submodule "vim/bundle/julia"]
	path = vim/bundle/julia
	url = git://github.com/JuliaLang/julia-vim
[submodule "vim/bundle/puppet"]
	path = vim/pack/filetype/start/puppet
	url = git://github.com/rodjek/vim-puppet
[submodule "vim/bundle/go"]
	path = vim/pack/filetype/start/go
	url = git://github.com/fatih/vim-go
[submodule "vim/bundle/rust"]
	path = vim/pack/filetype/start/rust
	url = git://github.com/rust-lang/rust.vim
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions
[submodule "zsh/k"]
	path = zsh/k
	url = git://github.com/supercrabtree/k
[submodule "zsh/anyframe"]
	path = zsh/anyframe
	url = git://github.com/mollifier/anyframe
[submodule "vim/bundle/ledger"]
	path = vim/pack/filetype/start/ledger
	url = git://github.com/ledger/vim-ledger
[submodule "vim/pack/local/start/denite"]
	path = vim/pack/plugins/start/denite
	url = git://github.com/Shougo/denite.nvim
[submodule "vim/pack/local/start/ale"]
	path = vim/pack/plugins/start/ale
	url = git://github.com/w0rp/ale
[submodule "vim/pack/local/start/multiple-cursors"]
	path = vim/pack/plugins/start/multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors
[submodule "vim/pack/local/start/terraform"]
	path = vim/pack/filetype/start/terraform
	url = git://github.com/hashivim/vim-terraform
[submodule "vim/pack/local/start/commentary"]
	path = vim/pack/plugins/start/commentary
	url = git://github.com/tpope/vim-commentary
[submodule "vim/pack/plugins/start/rainbow"]
	path = vim/pack/plugins/start/rainbow
	url = git://github.com/luochen1990/rainbow
[submodule "vim/pack/plugins/start/editorconfig"]
	path = vim/pack/plugins/start/editorconfig
	url = git://github.com/editorconfig/editorconfig-vim
