[submodule "sh/.config/sh/fzf"]
	path = sh/.config/sh/fzf
	url = https://github.com/junegunn/fzf
[submodule "zsh/.config/zsh/zsh-autosuggestions"]
	path = zsh/.config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/zsh-completions"]
	path = zsh/.config/zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/.config/zsh/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "vim/.vim/pack/filetype/start/polyglot"]
	path = vim/.vim/pack/filetype/start/polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/.vim/pack/plugins/start/airline"]
	path = vim/.vim/pack/plugins/start/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/.vim/pack/plugins/start/ale"]
	path = vim/.vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule "vim/.vim/pack/plugins/start/autobrace"]
	path = vim/.vim/pack/plugins/start/autobrace
	url = https://github.com/doy/vim-autobrace
[submodule "vim/.vim/pack/plugins/start/commentary"]
	path = vim/.vim/pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/pack/plugins/start/diff-changes"]
	path = vim/.vim/pack/plugins/start/diff-changes
	url = https://github.com/doy/vim-diff-changes
[submodule "vim/.vim/pack/plugins/start/editorconfig"]
	path = vim/.vim/pack/plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/.vim/pack/plugins/start/fzf"]
	path = vim/.vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/.vim/pack/plugins/start/fzf.vim"]
	path = vim/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/pack/plugins/start/gundo"]
	path = vim/.vim/pack/plugins/start/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "vim/.vim/pack/plugins/start/history-sync"]
	path = vim/.vim/pack/plugins/start/history-sync
	url = https://github.com/doy/vim-history-sync
[submodule "vim/.vim/pack/plugins/start/startify"]
	path = vim/.vim/pack/plugins/start/startify
	url = https://github.com/mhinz/vim-startify
[submodule "vim/.vim/pack/plugins/start/textobj"]
	path = vim/.vim/pack/plugins/start/textobj
	url = https://github.com/doy/vim-textobj
