bin/nethack/timettyrec
bin/nethack/ttrtail
procmail/log
vim/.netrwhist
vim/.VimballRecord
vim/undo/
newsbeuter/cache.db
newsbeuter/cache.db.lock
newsbeuter/error.log
newsbeuter/history.cmdline
newsbeuter/history.search
xmonad/xmonad-i386-linux
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/history
irssi/default.theme
bin/nethack/ipbt
bin/nethack/ttydump
bin/nethack/ttygrep
bin/marathon
!bin/marathon/marathon
bin/te
supervise/
interhack/servers
interhack/ttyrec
taeb
!taeb/config.yml
ssh
!ssh/authorized_keys
pwsafe.dat
mutt/aliases
mutt/extra
mutt/cache
