bin/nethack/timettyrec
bin/nethack/ttrtail
procmail/log
vim/.VimballRecord
vim/undo/
newsbeuter/cache.db
newsbeuter/cache.db.lock
newsbeuter/error.log
newsbeuter/history.cmdline
newsbeuter/history.search
xmonad/xmonad-i386-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
