/abook/addressbook*
/fortune/*.dat
/gnupg
!/gnupg/gpg-agent.conf
!/gnupg/gpg.conf
/interhack/servers
/interhack/ttyrec
/less
/mpdscribble/mpdscribble.conf
/mutt/aliases
/mutt/cache
/mutt/extra
/ncmpcpp
!/ncmpcpp/bindings
/notmuch
!/notmuch/hooks/post-new
/offlineimap
!/offlineimap/pass.py
/procmail/log
/services/enabled
/ssh
!/ssh/authorized_keys
!/ssh/cao_key
!/ssh/config
supervise/
/vim/.netrwhist
/vim/spell/*.spl
/weechat/weechat_fifo_*
/weechat/weechat.log
/wunderground
/.conf-type
