[language-server.rust-analyzer]
command = "lspmux"
config = { check = { command = "clippy" }, cargo = { allFeatures = true }, diagnostics = { disabled = ["inactive-code"] }, rust = { analyzerTargetDir = "target-ra" } }

[[language]]
name = "python"
language-servers = ["pyright", "ruff"]
formatter = { command = "black", args = ["--target-version=py311", "--quiet", "-"] }
auto-format = true

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]
config = {}

[language-server.ruff]
command = "ruff"
