[Service]
ExecStart=xss-lock -n /usr/lib/xsecurelock/dimmer -l -- sh -c 'on-lock; env XSECURELOCK_BLANK_TIMEOUT=1 XSECURELOCK_SHOW_DATETIME=1 xsecurelock'

[Install]
WantedBy=default.target
