#!/bin/sh

PATH="$HOME/.bin/local:$HOME/.bin/$(hostname):$HOME/.bin:$PATH"
export PATH

eval "$(ssh-agent)"

pidof svscan || (svscan "$HOME"/.services/enabled 2>&1 | readproctitle "$USER" ........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................) &

setup-inputs

xset s 300 5
