snippet script
	#!/usr/bin/env ruby

	def main
		${0}
	end

	if \$0 == __FILE__
		main(*ARGV)
	end
snippet def
	def ${1:foo}
		${0}
	end
snippet class
	class ${1:Foo}
		${0}
	end
snippet module
	module ${1:Foo}
		${0}
	end
