snippet main
        fn main () {
                ${1}
        }

snippet pr
        println!(${1})

snippet struct
        #[deriving(PartialEq, Eq, Show)]
        struct ${1} {
                ${2}
        }
