session_serialization false
copy_clipboard "primary"
scrollback_editor "less +G"
pane_frames false

default_mode "locked"
keybinds clear-defaults=true {
    shared_except "locked" {
        bind "Esc" "Ctrl c" { SwitchToMode "locked"; }
    }

    locked {
        bind "Ctrl f" { SwitchToMode "normal"; }
    }

    normal {
        bind "f" {
            Write 6;
            SwitchToMode "locked";
        }
        bind "Ctrl f" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/tabs.wasm" {
                floating true
            };
            SwitchToMode "locked";
        }
        bind "Ctrl n" {
            NewTab {
                cwd "~"
            };
            SwitchToMode "locked";
        }
        bind "Ctrl d" { Detach; }
        bind "Ctrl w" { CloseFocus; SwitchToMode "locked"; }
        bind "Ctrl q" { CloseTab; SwitchToMode "locked"; }

        bind "{" { SwitchToMode "scroll"; }
        bind "}" { EditScrollback; SwitchToMode "locked"; }

        bind "Ctrl v" {
            MessagePlugin "file:~/.config/zellij/plugins/paste.wasm";
            SwitchToMode "locked";
        }
    }

    entersearch {
        bind "Enter" { SwitchToMode "search"; }
    }

    search {
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
    }

    shared_among "search" "scroll" {
        bind "PageUp" { PageScrollUp; }
        bind "PageDown" { PageScrollDown; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "g" { ScrollToTop; }
        bind "G" { ScrollToBottom; }
        bind "q" { ScrollToBottom; SwitchToMode "locked"; }
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
    }
}

load_plugins {
    "file:~/.config/zellij/plugins/paste.wasm"
}
